	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/11/2017 08:08
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-cellphone-5:before { content: "\f100"; }
.flaticon-business:before { content: "\f101"; }
.flaticon-telephone-11:before { content: "\f102"; }
.flaticon-telephone-10:before { content: "\f103"; }
.flaticon-cellphone-4:before { content: "\f104"; }
.flaticon-cellphone-3:before { content: "\f105"; }
.flaticon-telephone-9:before { content: "\f106"; }
.flaticon-telephone-8:before { content: "\f107"; }
.flaticon-cellphone-2:before { content: "\f108"; }
.flaticon-technology:before { content: "\f109"; }
.flaticon-telephone-7:before { content: "\f10a"; }
.flaticon-cellphone-1:before { content: "\f10b"; }
.flaticon-telephone-6:before { content: "\f10c"; }
.flaticon-telephone-5:before { content: "\f10d"; }
.flaticon-tablet:before { content: "\f10e"; }
.flaticon-telephone-4:before { content: "\f10f"; }
.flaticon-connection:before { content: "\f110"; }
.flaticon-commerce:before { content: "\f111"; }
.flaticon-telephone-3:before { content: "\f112"; }
.flaticon-telephone-2:before { content: "\f113"; }
.flaticon-phone:before { content: "\f114"; }
.flaticon-telephone-1:before { content: "\f115"; }
.flaticon-cellphone:before { content: "\f116"; }
.flaticon-telephone:before { content: "\f117"; }