@charset "utf-8";

@media (max-width: 1199px) {
	.navbar-light .navbar-nav .nav-link { padding: 6px 10px;}
}

@media (max-width: 991px) {
/*Start Index*/
header {
}
.navbar {
	
	padding: 10px;
}
.navbar-nav {
    float: none !important;
}
.navbar-light .navbar-brand {
	display: block;
	font-size: 23px;
}
.navbar-light .navbar-toggler {
	color: #fff;
	cursor: pointer;
}
.navbar-light .navbar-toggler-icon {
	
}
.navbar-nav .overview {
	display: none !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
	position: static;
}
.dropdown-toggle::after {
	border-top: .3em solid;
	border-left: .3em solid transparent;
	border-right: .3em solid transparent;
	border-bottom: none;
}
.sps--blw .nav-item {
	display: block;
}
.sps--blw .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link {
	padding: 7px 10px;
	border-bottom: 1px dashed #515151;
}
.bookRoom {
	border-right: none;
	text-align: center;
}
.offset-lg-2 {
	margin-left: 0;
}
.btn-wrapper .btn {
	margin-top: 30px;
}
.bookRoom span {
	margin: 3px 0 27px 0;
}
.title span {
	padding: 5px 0;
}
.filter_room h4 {
	margin-top: 18px;
}
.introBlock .introContent {
	margin: 22px auto;
}
.tab-content .tab-pane .roomTitle {
	margin-top: 17px;
}

/*End Index*/
.pagetop {
	background-size: cover;
}
.single_facilities_name {
	padding-left: 45px;
}
}

@media (max-width: 767px) {
.single_facilities_name {
	padding-left: 57px;
}
.top-footer ul.social_media {float: none !important;}
.flexslider li .meta { display: none;}
.flex-direction-nav a {
    height: 30px;
    width: 30px;
line-height: 30px; }
.introBlock { text-align: center;}
.introBlock h3 {
font-size: 24px;
    }
	.introBlock h3:after { margin: 10px auto;}
.title h2 {
font-size: 15px; }
.title p{     font-size: 17px;
    line-height: 19px;}
	figure.effect-layla h2 { font-size: 16px;}
	.top-footer h3 {font-size: 20px;margin-bottom: 15px;float: none !important;text-align: center;}
	.top-footer ul.social_media li { margin-bottom: 10px;} 
	.pageTitle h3 { float: none;}
	.pagetop nav { float: none;}
	.pageTitle .breadcrumb { padding: 0;}
	.img-align-right {     width: 270px;}
}

@media (max-width: 575px) {
.roomList .roomInfo .price {
	float: left;
}
.roomList .roomInfo h3 {
	float: none;
}
figure.effect-layla figcaption::after { 
    right: 20px;
    
    left: 20px;	}
	figure.effect-layla figcaption::before { top: 20px;
    bottom: 20px;
	}
	figure.effect-layla h2 { padding-top: 15%;}
}
